/* Style Header */
#header {
  width: 500px;
  height: 15%;
}

#headerImage {
  width: 100%;
}

/* End of Header styling portion */

/*Styles Navigation Element */

nav {
  border-style: none;
  position: fixed;
  float: left;
  margin: 0px;
  padding: 0px;
  top: 10px;
  left: 0px;
  width: 120px;
  z-index: 9999;
}

nav ul {
  position: inherit;
  list-style-type: none;
  border-style: none;
  margin: 50px 0px 0px 0px;
  padding: 0px;
  top: 10px;
  left: 15px;
  z-index: inherit;
}

nav li {
  width: 70px;
}

nav li a {
  color: black;
  display: block;
  border-style: solid;
  margin: 5px;
  margin-left: -100px;
  padding: 5px;
  width: 80px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  background-color: #4d4dff;
  background: linear-gradient(to bottom right, #e6e6ff, #9999ff);
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #AFAFAF;
  -moz-border-radius:0px 10px 10px 0px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  opacity: 0.85;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  -moz-box-shadow: 0px 4px 3px #000;
  -webkit-box-shadow: 0px 4px 3px #000;
}

li a:link {
  color: ;
}

.content {
  border-style: solid;
  float: right;
  position: relative;
  overflow: hidden;
}
/* End of Navigation element styling section */

/* Basic body styling section */
  #body {
      background: linear-gradient(to bottom right, #e6e6ff, #9999ff);
  }

/* Footer Styling Section */
  #footer {

  }

/* Styles the page for screen sizes less than 480px */
@media (max-width: 480px) {

  #wrapper {
    border-style: inset;
    border-width: 5px;
    margin-left: 5px;
    width: 425px;
    height: auto;
  }

.form {
  border-style: solid; !important
  margin: 10px 5px 0px 5px;
  padding: 5px;
  width: 370px;
  overflow: visible;
}

#myForm {
  border-style: solid;
  border-width: 3px;
  margin: 10px 5px 5px 0px;
  padding: 5px;
  width: 345px;
}

.secondForm {
  border-style: solid; !important
  margin: 5px;
  padding: 5px;
  width: 370px;
  margin: 5px;
}

.form2 {
  border-style: solid; !important
  border-width: 5px;
  margin: 0px;
  padding: 3px;
  width: 355px;
}


#spoiler {
    border-style: solid;
    width: 370px;
    margin: 5px;
    padding: 5px;
}

.spoiler {
  border-style: solid;
  width: 300px;
}

#lightBox {
  list-style-type: none;
  border-style: solid;
  border-width: 3px;
  width: 380px;
  margin: 10px;
  margin-left: 5px;

}

#lightBox ul {
  list-style-type: none;
  border-style: solid;
  display: inline-flex;
  vertical-align: middle;

}

#imageGallery {
  border-style: solid;
  border-width: 5px;
  width: 350px;
}

.imageBox {
  float: left;
  vertical-align: middle;
}

#passBox {
  border-style: solid;
  border-width: 3px;
  width: 380px;
  margin: 10px 5px 10px 5px;
  padding: 3px;
}

}

/* Styles page for screen sizes between 480 and 960 px */
@media (min-width: 481px) and (max-width: 959px) {

/* Styles page for screen sizes above 960px */
@media (min-width: 960px) {
